<main class="main__content">
  <header class="header__info">
    <div class="header__items">
      <span>About Us</span>
      <span>Privacy</span>
      <span>FAQ</span>
      <span>Careers</span>
    </div>
    <div class="d-flex gap-2 align-items-center">
      <span>My Wishlist</span>
      <div
        style="height: 20px; width: 1px; background-color: var(--bs-gray-500)"
      ></div>
      <span>Track Your Order</span>
    </div>
  </header>
  <nav class="navbar">
    <h1>Logo</h1>
    <div class="items__nav">
      <span>Home</span>
      <span>Men</span>
      <span>Women</span>
      <span>Contact</span>
    </div>
    <div class="items__nav">
      <i class="bi bi-search"></i>
      <i class="bi bi-person"></i>
      <i class="bi bi-cart"></i>
    </div>
  </nav>
</main>
