@import "bootstrap-icons/font/bootstrap-icons.css";

:root{
    --padding: 0.5rem 8rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    min-height: 100vh;
    padding-bottom: 3rem;
    max-width: 100vw;
    background-color: var(--bs-gray-100);
}